<section class="user-section border" style="width: 65rem;">
<div class="d-flex justify-content-between">
<div class="d-flex flex-column border" style="width: 40rem;">
  <h2><%= "Name: #{@user.name}" %></h2>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
  </div>
  <div class="border" style="width: 15rem;">
    <h2>Friend Requests</h2>
  </div>
  </div>
</section>
